@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{

    /* Ocean + Sky + Sand Theme */

    background:linear-gradient(
        135deg,
        #F8FAFC,
        #E0F2FE,
        #FFF7ED
    );

    overflow-x:hidden;

}



/* HEADER */

header{

    position:absolute;

    top:0;

    left:0;

    width:100%;

    padding:25px 8%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    z-index:100;

}


.logo{

    font-size:40px;

    font-weight:700;

    letter-spacing:2px;

    color: #e28f11;

}


nav ul{

    display:flex;

    list-style:none;

    gap:40px;

}


nav ul li a{

    text-decoration:none;

    color:rgb(240, 81, 8);

    font-size:18px;

    font-weight:600;

    transition:0.3s;

}


nav ul li a:hover{

    color:#FFD166;

}



/* HERO */

.hero{

    position:relative;

    height:100vh;

}


.hero img{

    width:100%;

    height:100%;

    object-fit:cover;

    filter:brightness(60%);

}


.hero-content{

    position:absolute;

    top:50%;

    left:8%;

    transform:translateY(-50%);

    color:white;

    max-width:550px;

}


.hero-content h1{

    font-size:65px;

    margin-bottom:20px;

}


.hero-content p{

    font-size:22px;

    line-height:1.7;

    margin-bottom:35px;

}


.btn{

    text-decoration:none;

    background:#F97316;

    color:white;

    padding:15px 35px;

    border-radius:30px;

    font-size:18px;

    font-weight:600;

    transition:0.3s;

}


.btn:hover{

    background:#EA580C;

}



/* PLACES */

.places{

    padding:80px 8%;

    background:linear-gradient(
        135deg,
        #E0F7FA,
        #F0FDFA
    );

}


.places h2{

    text-align:center;

    font-size:45px;

    color:#0EA5E9;

    margin-bottom:50px;

}


.place-container{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:25px;

    max-width:1200px;

    margin:auto;

}


.card{

    position:relative;

    width:360px;

    height:240px;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 8px 20px rgba(0,0,0,0.15);

    transition:0.3s;

}


.card:hover{

    transform:translateY(-10px);

}


.card img{

    width:100%;

    height:100%;

    object-fit:cover;

}


.overlay{

    position:absolute;

    bottom:0;

    left:0;

    width:100%;

    padding:20px;

    background:linear-gradient(
        transparent,
        rgba(2,132,199,0.85)
    );

    color:white;

}


.overlay h3{

    font-size:28px;

    margin-bottom:8px;
    color: rgb(235, 226, 224);

}


.overlay p{

    font-size:15px;
    color: rgb(235, 230, 229);

}



/* ABOUT */

.about{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:80px;

    padding:80px 8%;

    background:linear-gradient(
        135deg,
        #FFF7ED,
        #FEF3C7
    );

}


.about-image img{

    width:550px;

    height:350px;

    object-fit:cover;

    border-radius:25px;

    box-shadow:0 10px 25px rgba(0,0,0,0.15);

}


.about-content{

    max-width:500px;

}


.about-content h2{

    color:#0EA5E9;

    font-size:42px;

    margin-bottom:20px;

}


.about-content p{

    color:#555;

    font-size:18px;

    line-height:1.8;

    margin-bottom:35px;

}



/* FOOTER */

footer{

    background:linear-gradient(
        90deg,
        #0EA5E9,
        #38BDF8
    );

    color:white;

    text-align:center;

    padding:25px 15px;

}


.footer-content h2{

    font-size:28px;

    margin-bottom:10px;
    color: #EA580C;

}


.footer-content p{

    font-size:14px;

    margin-bottom:12px;
    color: #ad0646;

}


.footer-links{

    margin:15px 0;
    

}


.footer-links a{

    color:white;

    text-decoration:none;

    margin:0 15px;
    font-weight: bolder;
    font-size:16px;
    color: #e2dfdd;

}


.footer-links a:hover{

    color:#FFF7ED;

}


.social-icons{

    margin:15px 0;

}


.social-icons a{

    display:inline-block;

    width:40px;

    height:40px;

    line-height:40px;

    background:rgb(4, 5, 5);

    color:#0EA5E9;

    border-radius:50%;

    margin:0 8px;

    text-decoration:none;

    font-size:18px;

    transition:0.3s;

}


.social-icons a:hover{

    transform:translateY(-5px);

}


.copyright{

    margin-top:15px;

    font-size:13px;

}



/* RESPONSIVE */

@media(max-width:1200px){

    .place-container{

        grid-template-columns:repeat(2,1fr);

        justify-items:center;

    }

}


@media(max-width:768px){

    header{

        flex-direction:column;

    }

    nav ul{

        gap:20px;

        margin-top:15px;

    }

    .hero-content h1{

        font-size:42px;

    }

    .hero-content p{

        font-size:18px;

    }

    .place-container{

        grid-template-columns:1fr;

    }

    .about{

        flex-direction:column;

        text-align:center;

    }

    .about-image img{

        width:90%;

        height:auto;

    }

}